.work-detail {
    $self: &;
    img {
        @apply cursor-zoom-in;
    }
    &__content {
        @apply container;
    }
    &__inner {
        @apply text-xl;
        @apply lg:w-8/12 lg:mx-auto my-8 px-4;
        p:first-of-type::first-letter {
            initial-letter: 3;
            @apply mr-4;
        }
        p {
            @apply leading-8 mb-5;
        }
        blockquote {
            @apply bg-gray-100 p-4 my-4;
            @apply border-l-4 border-gray-500;
        }
    }
    &__banner {
        @apply py-16 relative text-center text-white;
        @apply bg-work-detail bg-center bg-cover;
        &::before {
            @apply absolute content-[''] inset-0;
            background: linear-gradient(0, transparent, rgba(0, 0, 0, .5));
        }
        #{$self}__content {
            @apply relative z-10;
        }
        &-heading {
            @apply text-5xl tracking-[-.5px];
        }
        &-description {
            @apply text-[28px] leading-10 mt-8;
            @apply lg:max-w-[708px] lg:mx-auto;
        }
        button {
            box-shadow:rgb(255, 255, 255) 0px 0px 0px 2px inset;
            @apply rounded-[40px] py-3 px-6;
            @apply text-xl bg-black mt-5;
            @apply hover:bg-white hover:text-black; 
        }
    }
}